:root {
    color-scheme: dark;
    background-color: var(--primary-background);

    --app-height: 100vh;
    --light: false;

    --text-size: 14px;
    --border-radius: 15px;
    --foreground: #fff;



    /* MAYBE SOME USEFUL COLORS
    #383544
    */
    --background-dark: #1a1a1e;
    --background-dark-rgb: 26, 26, 30;

    --background: #181923;
    --background-rgb: 24, 25, 35;
    
    --primary-background: #181923;
    --primary-background-rgb: 24, 25, 35;

    --secondary-background: #292d41;
    --secondary-background-rgb: 41,45,65;

    --secondary-foreground: #bcb9c4;
    --secondary-foreground-rgb: 24,25,35;

    --primary-header: #38405d;
    --primary-header-rgb: 56, 64, 93;

    --secondary-header: #3a425c;
    --secondary-header-rgb: 41,44,65;

    --tertiary-background: #4c546d;
    --tertiary-background-rgb: 24,25,35;
    
    --tertiary-foreground: #71798f;
    --tertiary-foreground-rgb: 24,25,35;

    --accent: #8097de;
    --acent: #476fe9;
    --accent-rgb: 172, 252, 217;
    --accent-contrast: #131313;
    --block: #2D2D2D;
    --block-rgb: 45,45,45;
    --mention: rgba(251,255,0,0.06);
    --mention-rgb: 251,255,0;
    --success: #65E572;
    --success-rgb: 101,229,114;
    --warning: #FAA352;
    --warning-rgb: 250,163,82;
    --tooltip: #000000;
    --tooltip-rgb: 0,0,0;
    --error: #ED4245;
    --error-rgb: 237,66,69;
    --hover: rgba(0,0,0,0.1);
    --hover-rgb: 0,0,0;
    --hover-contrast: white;
    --hover-contrast-rgb: 255,255,255;

    --status-online: #3ABF7E;
    --status-online-rgb: 58,191,126;
    --status-away: #F39F00;
    --status-away-rgb: 243,159,0;
    --status-focus: #4799F0;
    --status-focus-rgb: 71,153,240;
    --status-busy: #F84848;
    --status-busy-rgb: 248,72,72;
    --status-streaming: #977EFF;
    --status-streaming-rgb: 151,126,255;
    --status-invisible: #A5A5A5;
    --status-invisible-rgb: 165,165,165;

    --scrollbar-thickness: 3px;
    --scrollbar-thickness-ff: thin;
    --border-radius: 16px;
    --border-radius-inner: 12px;
    --border-radius-half: 50%;
    --border-radius-user-icon: var(--border-radius-half);
    --border-radius-channel-icon: var(--border-radius-half);
    --border-radius-server-icon: var(--border-radius-half);


    --emoji-size: 32px;

    --header-height: 48px;
    --header-height-rgb: undefined,undefined,undefined;

    --input-border-width: 2px;
    --textarea-padding: 16px;
    --textarea-line-height: 20px;

    --message-box: #363636;
    --message-box-rgb: 54,54,54;
    --message-box-contrast: white;
    --message-box-contrast-rgb: 255,255,255;
    --message-box-padding: 8px 1px;
    --attachment-max-width: 400px;
    --attachment-max-height: 300px;
    --attachment-default-width: 400px;
    --attachment-max-text-width: 800px;
    --bottom-navigation-height: 50px;

    --scrollbar-thumb: #383544;
    --scrollbar-thumb-rgb: 202,82,90;
    --scrollbar-track: transparent;
    --scrollbar-track-rgb: 0,0,0;
    --scrollbar-thumb-contrast: white;
    --scrollbar-thumb-contrast-rgb: 255,255,255;
    --scrollbar-track-contrast: white;
    --scrollbar-track-contrast-rgb: 255,255,255;
    --scrollbar-thickness: 3px;
    --scrollbar-thickness-ff: 3px;

    --min-opacity: 0;
    --min-opacity-rgb: 0,0,0;
}

html {
    --font: "Open Sans";
    --monospace-font: "Fira Code";
    --ligatures: none;
    --app-height: 639px;
}

body {
    margin: 0;
    font-family: var(--font),sans-serif;
    font-variant-ligatures: var(--ligatures);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    caret-color: var(--accent);
    color: var(--foreground);
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    scrollbar-width: var(--scrollbar-thickness-ff);
    -webkit-touch-callout: none;
}

:disabled {
    opacity: 0.5;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: var(--scrollbar-thickness);
    height: var(--scrollbar-thickness);

}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    min-width: 30px;
    min-height: 30px; 

    background-clip: content-box;
    background: var(--scrollbar-thumb);
}

[data-scroll-offset] {
    overflow-y: scroll;
}

[data-scroll-offset="with-padding"],
[data-scroll-offset] .with-padding {
    padding-top: var(--header-height);
}

[data-scroll-offset]::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border-top: var(--header-height) solid transparent;
}

[data-avoids-navigation]::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border-bottom: var(--effective-bottom-offset) solid transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
    
}

::selection {
    background: var(--foreground);
    color: var(--background);
    
}

::-moz-selection {
    background: var(--foreground);
    color: var(--background);
}

::-webkit-selection {
    background: var(--foreground);
    color: var(--background);
}

a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--accent);
}

hr {
    border: 0;
    height: 1px;
    flex-grow: 1;
}

foreignObject > svg {
    vertical-align: top;
}

.app-container {
    background-size: cover;
    background-position: center;
    position: fixed;
}

.status-bar {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 8px;
    user-select: none;
}

.status-bar .button {
    padding: 5px;
    border: 1px solid white;
    border-radius: var(--border-radius);
}

.status-bar a {
    cursor: pointer;
    color: var(--foreground);
}

.status-bar .title {
    flex-grow: 1;
    text-align: center;
}

.status-bar .action {
    gap: 12px;
    display: flex;
    padding-right: 4px;
}

.ServerText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    font-size: 0.75rem;
    font-weight: 600;
    overflow: hidden;
    color: var(--foreground);
    background: var(--primary-background);
    border-radius: var(--border-radius-half);
}

@keyframes -global-fadeIn {
    0% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes -global-fadeOut {
    0% {opacity: 1;}
    70% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes -global-zoomIn {
    0% {transform: scale(0.5);}
    98% {transform: scale(1.01);}
    100% {transform: scale(1);}
}

@keyframes -global-zoomOut {
    0% {transform: scale(0.5);}
    98% {transform: scale(1.01);}
    100% {transform: scale(1);}
}

div.TitlebarBase {
    height: var(--titlebar-height);
    display: flex;
    user-select: none;
    align-items: center;
}

.TitlebarBase .drag {
    flex-grow: 1;
    -webkit-app-region: drag;
    margin-top: 10px;
    height: 100%;
}

.TitlebarBase .quick {
    color: var(--secondary-foreground);    
}

.TitlebarBase .quick.disabled {
    color: var(--error);
}

.TitlebarBase .quick.unavailable {
    background: var(--error);
}

.quick > div,
    .quick > div > div {
    width: var(--titlebar-height);
}

.TitlebarBase .title {
    -webkit-app-region: drag;
    height: var(--titlebar-height);
    font-size: 16px;
    font-weight: 600;
    margin-inline-start: 10px;
    margin-top: 10px;
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 90000;
    color: var(--titlebar-logo-color);
}

.TitlebarBase .title svg {
    margin-bottom: 10px;
}

.TitlebarBase .title svg:first-child {
    height: calc(var(--titlebar-height) / 3);
}

.TitlebarBase .actions {
    z-index: 100;
    display: flex;
    align-items: center;
    margin-inline-start: 6px;
}

.TitlebarBase .actions div {
    width: calc(
        var(--titlebar-height) + var(--titlebar-action-padding)
    );
    height: var(--titlebar-height);

    display: grid;
    place-items: center;
    transition: 0.2s ease color;
    transition: 0.2s ease background-color;
}

.actions div:hover {
    background: var(--primary-background);
}

.actions div.error:hover {
    background: var(--error);
}

@keyframes highlight {
    0% {
        background: var(--mention);
    }
    66% {
        background: var(--mention);
    }
    100% {
        background: transparent;
    }
}

.menu-flyout {
    min-width: 190px;
    font-weight: 500 !important;
    padding: 3px 3px !important;
    user-select: none;
    font-size: 0.875rem !important;
    color: var(--secondary-foreground) !important;
    border-radius: var(--border-radius-inner) !important;
    background-color: rgba( var(--background-dark-rgb), max(0, 0.8) ) !important;
    backdrop-filter: blur(16px);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.menu-flyout button {
    gap: 6px;
    margin: 2px 0;
    display: flex;
    padding: 6px 16px;
    align-items: center;
    white-space: nowrap;
    border-radius: calc(var(--border-radius) / 2);
    border: unset;
    background: transparent;
}

.menu-flyout button:not([data-disabled="true"]) {
    cursor: pointer;
}

.menu-flyout button:not([data-disabled="true"]):hover {
    background-color: rgba(
        var(--secondary-background-rgb),
        max(var(--min-opacity), 0.75)
    );
    backdrop-filter: blur(10px);
}

.menu-flyout .tip {
    flex-grow: 1;
    font-size: 0.65rem;
    text-align: right;
    color: var(--tertiary-foreground);
}