main {
    display: flex;
    place-items: center;
    height: 100vh;
}

.container {
    margin: auto;
    padding: 1rem;
    background-color: #252424;
    width: 24rem;
}
.container .title {
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form-label {
    font-size: 12px;
    font-weight: 700;
}

.form-input {
    padding: 11px 16px;
    font-size: 15px;
    border-radius: 6px;
}

.form-btn {
    padding: 8px;
    margin-bottom: 15px;
    background-color: #2e3436;
    display: flex;
    justify-content: center;
    border: medium;
    cursor: pointer;
    font-size: 14px;
}